In [2]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\asus\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\asus\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [26]:
#les first connect tot he driver-
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe")

#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location-

In [35]:
#. First get the webpage https://www.naukri.com
driver.get("https://www.naukri.com/")

In [36]:
# entering designation and location & search as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [37]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [56]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [57]:
# scraping the job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [58]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [59]:
#creating the DataFrame from the above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Associate Healthcare Research and Data Analyst,Bangalore/Bengaluru,Clarivate,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
4,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
5,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
6,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
7,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
8,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
9,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs

Q2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [79]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [84]:
#les first connect tot he driver-
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe")

In [91]:
# First get the webpage http://www.naukri.com/
driver.get(" https://www.naukri.com/")

In [93]:
# entering designation and location & search as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [94]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [95]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [101]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [102]:
# scraping the job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [103]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [104]:
#creating the DataFrame from the above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra,5-8 Yrs
3,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree,5-10 Yrs
5,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes,6-8 Yrs
7,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs
8,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
9,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture,4-6 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [14]:
#les first connect tot he driver-
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
# First get the webpage http://www.naukri.com/
driver.get("https://www.naukri.com/")

In [16]:
# entering designation and location & search as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [26]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [27]:
# scraping the job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [28]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [29]:
#creating the DataFrame from the above data
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Delhi / NCR, New Delhi, Hyderabad/Secunderabad...",Tata Nexarc,4-8 Yrs
1,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
2,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm,3-5 Yrs
3,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
4,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,1-5 Yrs
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
6,Senior Data Scientist - Machine Learning,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Global Employees,7-12 Yrs
7,Data Scientist,Hybrid - Noida,HCLTech,4-9 Yrs
8,Data Scientist - R / Python / SQL,"Delhi / NCR, Mumbai, Gurgaon/Gurugram, Bangalo...",TransOrg Analytics,3-6 Yrs
9,ACN - Applied Intelligence - Data & Insights -...,Gurgaon/Gurugram,Accenture,4-6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [10]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [11]:
#les first connect tot he driver-
driver=webdriver.Chrome(r"C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
# First get the webpage http://www.flipkart.com/
driver.get("https://www.flipkart.com/")

In [13]:
# entering products and brand as required in the question-
products=driver.find_element(By.CLASS_NAME,"_3704LK")
products.send_keys("sunglasses")

In [15]:
brand=driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

In [16]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [40]:
Brand_name=[]
product_description=[]
product_price=[]
product_discount=[]

In [42]:
#scraping the brand name from the given page
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:100]:
    Brand=i.text
    Brand_name.append(Brand)
    
#scraping product description from given page
Product_Description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Pro

duct_Description[0:100]:
    ProductDescription=i.text
    Product_description.append(Product Description)
    
#scraping price of the product from given page
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:100]:
    Price=i.text
    Product_price.append(price)
    
#scraping product discount from the given page
Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:100]:
    Discount=i.text
    product_Discount.append(discount)

SyntaxError: invalid syntax (1013545986.py, line 9)